.input-area {
  min-height: 50px;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.plus-button {
  background-color: #778899;
  width: 50px;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
